<form action="/characters/" method="GET" class="m-3">
    <input type="submit" value="Home"/>
</form>
<form action="/characters/new" method="GET" class="m-3">
    <input type="submit" value="Create New Character"/>
</form>