<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Character</h1>
    <form action='/characters' method='POST'>
        Name: <input type='text' name="name" id = "name"/>
        Race: <input type="text" name="race" id="race"/>
        Class: <input type="text" name="characterClass" id="characterClass"/>
        Level: <input type="numer" name="level" id="level"/>
        Background: <input type='text' name='background' id='background'/>
        Is this charatcer dead? <input type='checkbox' name='isDead' id='isDead'/>
        <label for='backStory'>Charatcer's Backstory</label>
        <textarea name="backStory" id='backStory'></textarea>
        <input type='submit' name='' value='Add Character to Database'/>
    </form>
</body>
</html>