<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Create New Character</title>
</head>
<body>
    <nav class="nav m-3">
        <%- include('./partials/nav.ejs')%>
    </nav>
    <div class="m-5 text-center">
        <h1>New Character</h1>
    <form action='/characters' method='POST'>
        Name: <input type='text' name="name" id = "name"/><br/>
        Race: <input type="text" name="race" id="race"/><br/>
        Class: <input type="text" name="characterClass" id="characterClass"/>
        Level: <input type="numer" name="level" id="level"/><br/>
        Background: <input type='text' name='background' id='background'/><br/>
        Is this charatcer dead? <input type='checkbox' name='isDead' id='isDead'/><br/>
        <label for='backStory'>Charatcer's Backstory</label>
        <textarea name="backStory" id='backStory'></textarea><br/>
        <input type='submit' name='' value='Add Character to Database'/>
    </form>
    </div>
</body>
</html>